/** 공용 css **/
* {
    margin:0;
    padding:0;
}

body {
    font-family:"맑은 고딕","굴림","돋음";
    font-size:12px;
    color:#444444;
}

ul {
    list-style-type:none;
}

.clear {
    clear:both;
}

#warp {
    width:970px;
    margin:0 auto;
}

a:link {
    text-decoration:none;
    color:#444444;
}

a:hover {
    text-decoration:underline;
    color:#000000;
}

a:visited {
    text-decoration:none;
    color:#000000;
}/* 하이퍼링크 적용된 텍스트가 방문의 된 후 계속 흰색으로 표시 */